*{}
body{
  background-color: whitesmoke;
}
div .clean-margin-padding{
  margin: 0;
  padding: 0;
}
.navigation-left{
  background-color: #111111;
  color: #f1f1f1;
  height: calc( 100vh - 60px);
}
.navigation-top{
  vertical-align: middle;
  height: 60px;
}
.navigation-left a{
  display: block;
  color: #f1f1f1;
  padding: 10px 30px;
  transition: 0.5s all;
}
.navigation-left a:hover{
  background-color: dimgray;
  text-decoration: none;
  color: black;
}

.navigation-top a, .navigation-top span{
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.5s all;
  border-radius: 5px;
}
.navigation-top a:hover{
  text-decoration: none;
  background-color: whitesmoke;
}
.navigation-top .logo{
  display: block;
  float: left;
  height: 60px;
  background-color: #111111;
}
