*{}
body{
  background-color: whitesmoke;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
  overflow-y: hidden;
}
div .clean-margin-padding{
  margin: 0;
  padding: 0;
}
.navigation-left{
  background-color: #525252;
  overflow-y: auto;
  color: #f1f1f1;
  height: calc( 100vh - 60px);
}
.navigation-top{
  vertical-align: middle;
  height: 60px;
}
.navigation-left a{
  display: block;
  color: #9d9d9d;
  padding: 10px 30px;
  transition: 0.5s all;
  font-size: 14px;
}
.navigation-left a:hover, .navigation-left a:focus{
  //background-color: dimgray;
  text-decoration: none;
  color: white;
}
.navigation-left a.active {
background-color: #f1a720;
  text-decoration: none;
  color: #fefefe;
}

.navigation-top a, .navigation-top span{
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.5s all;
  border-radius: 5px;
  color: #8b8b8b;
}
.navigation-top a:hover{
  text-decoration: none;
  background-color: whitesmoke;
}
.navigation-top .logo{
  display: block;
  float: left;
  height: 60px;
  background-color: #525252;
}

div.layout-content{
padding-left: 30px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}

body div.layout-content h1:first-child{
  margin-top:0;
}

h1{
  margin-bottom: 20px;
}
